---
site: Pet Photos
---
<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://unpkg.com/mvp.css">
    <meta charset="UTF-8">
    <title>{{ site }}</title>

    <h2> Simple pagination</h2>
    <div class = "a">
        {% for photo in collections.photos %}
            <a href="{{ photo.url }}">{{forloop.index}}</a>
        {% endfor %}
    </div>
</head>

<body style="background-color:{{ color_keyword }};">
    <header>
        <h1>
            <img src="https://cdn.shopify.com/s/files/1/0099/9562/files/Header-Icon-Logo.png?14597416339728210630" alt="logo" width="35" height="35">
            <font size=16 face="didot">{{ site }}</font>
        </h1>
    
        <nav>
            <a href="/">Home</a> |
            <a href="">About Us</a> |
            <a>Filler</a> |
            <a>Filler</a> |
            <a>Filler</a> |
            <a>Filler</a>
        </nav>
    </header>

    {{ content }}

    {% if photographer_username %}
        <p>Photo by https://unsplash.com/@{{ photographer_username }}</p>
    {% endif %}
    
    <ul>
        {% for photo in collections.photos %}
        <li>
            <a href="{{ photo.url }}">
                A {{ photo.data.photo_keyword }} photo
                by {{ photo.data.photographer_first_name}} {{ photo.data.photographer_last_name }}
            </a>
        </li>
        {% endfor %}
    </ul>

    <footer>
        <p>
            <font color="grey">&copy; Copyright 2021 Team 5</font>
        </p>
    
        <p>
            <a>Filler</a> |
            <a>Filler</a> |
            <a>Filler</a> |
            <a>Filler</a> |
            <a>Filler</a>
        </p>
    </footer>
</body>

</html>