---
layout: detail
---
{{ content }}
{% if photographer_username %}
    <p>Photo by {{photographer_first_name}} {{photographer_last_name}}: <a href="">https://unsplash.com/@{{ photographer_username }}</a></p>
{% endif %}
    
{% if exif_camera_model %}
    <p>Camera Model: {{ exif_camera_model }}</p>
{% endif %}
    
{% if stats_views %}
    <p>Views: {{ stats_views }}</p>
{% endif %}

<ul>
    {% for photo in collections.photos %}
    <li>
        <a href="{{ photo.url }}">
            A {{ photo.data.photo_keyword }} photo
            by {{ photo.data.photographer_first_name}} {{ photo.data.photographer_last_name }}
        </a>
    </li>
    {% endfor %}
</ul>