---
site: Pet Photos
---
<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://unpkg.com/mvp.css">
    <meta charset="UTF-8">
    <title>{{ site }}</title>
</head>

<body style="background-color:{{ color_keyword }};">
    <header>
        <h1>
            <img src="https://cdn.shopify.com/s/files/1/0099/9562/files/Header-Icon-Logo.png?14597416339728210630"
                alt="logo" width="35" height="35">
            <font size=16 face="didot">{{ site }}</font>
        </h1>

        <nav>
            <a href="{{ '/' | url }}">Home</a> |
            <a href="{{ '/About' | url }}">About Us</a> |
            <a>Filler</a> |
            <a>Filler</a> |
            <a>Filler</a>
        </nav>
    </header>

    <main>
        {{ content }}
    </main>

    <footer>
        <p>
            <font color="grey">&copy; Copyright 2021 Team 5</font>
        </p>

        <nav>
            <a href="https://github.com/quentinmay/cpsc349-project1">GitHub</a> |
            <a>Filler</a> |
            <a>Filler</a> |
            <a>Filler</a> |
            <a>Filler</a>
        </nav>
    </footer>
</body>

</html>